# Dependencies
node_modules

# Environment variables (JANGAN sampai ke GitHub!)
.env
.env.local
.env*.local

# Next.js build output
.next
out

# Prisma generated
/generated/prisma

# Firebase service account key (SANGAT PENTING!)
*.json
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*